# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual Environment
# =========================
venv/
env/
.venv/
backend/venv/

# =========================
# Environment / Secrets
# =========================
.env
*.env
!.env.example

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Node / React
# =========================
node_modules/
frontend/node_modules/

# Vite
frontend/dist/

# =========================
# Logs
# =========================
*.log

# =========================
# Python cache / build
# =========================
*.egg-info/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/